<h2>Lets Edit A Record</h2>

<form method="POST" action="/vinyls/<%= @vinyl.id %>">
  <input type="hidden" id="hidden" name="_method" value="patch">
    <p> Title: <br> <input type="text" name="title" value="<%=@vinyl.title%>" placeholder="Album Title"></p>
    <p> Artist: <br> <input type="text" name="artist" value="<%=@vinyl.artist%>" placeholder="Artist Name"></p>
    <p> Genre: <br> <input type="text" name="genre" value="<%=@vinyl.genre%>" placeholder="Genre"></p>
    <p> Release Year: <br> <input type="integer" name="release_year" value="<%=@vinyl.release_year%>" placeholder="release_year"></p>
    <br>
  <input type="submit" value="Submit Edit" role="button">
</form>