<h2>Lets Edit An Album</h2>

<form method="POST" action="/albums/<%= @album.id %>">
  <input type="hidden" id="hidden" name="_method" value="patch">
    <p> Album Title: <br> <input type="text" name="title" value="<%=@album.title%>" placeholder="Album Title"></p>
    <p> Artist: <br> <input type="text" name="artist" value="<%=@album.artist%>" placeholder="Artist Name"></p>
    <p> Genre: <br> <input type="text" name="genre" value="<%=@album.genre%>" placeholder="Genre"></p>
    <p> Release Year: <br> <input type="integer" name="release_year" value="<%=@album.release_year%>" placeholder="release_year"></p>
    <br>
  <input type="submit" value="Submit Edit" role="button">
</form>