
<h1><%= @vinyl.title %></h1>
<hr><br>
<p><b>Artist:</b> <%= @vinyl.artist %></p>
<p><b>Genre:</b> <%= @vinyl.genre %></p>
<p><b>Release Year:</b> <%= @vinyl.release_year %></p>
<form method="POST" action="/vinyls/<%= @vinyl.id %>">
  <input class="btn btn-outline-primary" type="submit" href="/vinyls/<%= @vinyl.id %>/edit" value="Edit Vinyl">
  <br><br>
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input class="btn btn-outline-primary" type="submit" value="Delete Vinyl" id="Delete Vinyl">
</form>


